$blue: #3874CA;
$gray: #959595;
$lightgray: #A6A6A6;

@mixin font-stack-frames { 
  font-family: Cambria, "Hoefler Text", Utopia, "Liberation Serif", "Nimbus Roman No9 L Regular", Times, "Times New Roman", serif;
}

@mixin font-stack-files { 
  font-family: Arial, Helvetica, sans-serif;
}

#file-cabinet {
  h3 {
    @include font-stack-files;
    z-index: 10;
    float: left;
    font-size: 12px;
    font-weight: bold;
    *font-weight: normal;
    text-decoration: none;
  }
    h4 {
      @include font-stack-files;
      z-index: 10;
      float: left;
      font-size: 11px;
      font-weight: bold;
      *font-weight: normal;
      text-decoration: none;
    }
}

/*h4 spans*/
.abt-chart {
  position: relative;
  left: 35px;
}

.drs-chart {
  position: relative;
  left: 32px;
}

.loc-chart {
  position: relative;
  left: 23px;
}

.nws-chart {
  position: relative;
  left: 16px;
}

.dia-chart {
  position: relative;
  left: 13px;
}

.log-chart {
  position: relative;
  left: 14px;
}

.egl-chart {
  position: relative;
  left: 18px;
}

#frames {
    h1 {
    @include font-stack-frames;
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 3px;
    color: $blue;
    text-align: center;
    padding-bottom: 3px;
  }
    h2 {
      @include font-stack-frames;
      font-size: 20px;
      font-weight: bold;
      letter-spacing: 3px;
      color: #3874CA;
      margin-left: 25px;
      padding: 20px 0 14px 0;
    }
    h3 {
      @include font-stack-frames;
      font-size: 16px;
      font-weight: bold;
      letter-spacing: 1px;
      color: #3874CA;
      text-align: center;
      padding: 25px 0 10px 0;
    }
    blockquote {
      font-style: italic;
      font-size: 15px;
    }
    figcaption {
      font-weight: bold;
      font-size: 15px;
    }
}

.welcome-frame p {
  @include font-stack-frames;
    padding: 0 45px 30px;
    color: #171613;
    line-height: 21px;
}

.alert-frame p {
  @include font-stack-frames;
  margin-bottom: 20px;
  padding: 0 20px 30px;
  color: #171613;
  line-height: 22px;
  text-align: center;
}

.h3-hover {
    background: yellow;
    /*padding: 1px;*/
}

.quote {
  @include font-stack-frames;
  padding: 0 45px;
  line-height: 18px;
  color: $blue;
}

