@import "compass/reset";
@import "compass/css3";
@import "typography";
@import "nav";
@import "ie";

/*
******************************
* Main Styles
******************************
*/
* {
  -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
        box-sizing: border-box;
  -webkit-transition: left 0.6s ease;  /* Chrome, Safari 3.2+ */
     -moz-transition: left 0.6s ease;  /* Firefox 4-15 */
       -o-transition: left 0.6s ease;  /* Opera 10.50–12.00 */
          transition: left 0.6s ease;  /* Firefox 16+, IE 10+, Opera 12.50+ */
}

.wrapper {
  position: relative;
  background: url(../img/bg.jpg) no-repeat;
  -webkit-box-shadow: 0px 0px 47px 0px #999; /* Android 2.3+, iOS 4.0.2-4.2, Safari 3-4 */
          box-shadow: 0px 0px 47px 0px #999; /* Chrome 6+, Firefox 4+, IE 9+, iOS 5+, Opera 10.50+ */
  width: 960px;
  margin: auto;
  overflow: hidden;
  z-index: 10;
}

#file-cabinet {
  float: left;
  height: 725px;
  /*overflow: visible;*/
}

.left-folder {
  position: relative;
  float: left;
  width: 59px;
  height: 500px;
  top: 134px;
  z-index: 2;
}

.folder-group a {
  color: black;
}

.folder-group {
  position: relative;
  float: left;
  clear: both;
  width: 520px;
  height: 590px;
  top: -375px;
  overflow: visible !important;
  -webkit-transform: rotate(2deg);  /* Chrome, Safari 3.1+ */
     -moz-transform: rotate(2deg);  /* Firefox 3.5-15 */
      -ms-transform: rotate(2deg);  /* IE 9 */
       -o-transform: rotate(2deg);  /* Opera 10.50-12.00 */
          transform: rotate(2deg);  /* Firefox 16+, IE 10+, Opera 12.50+ */
}

.folder-abt,
.folder-drs, 
.folder-loc,
.folder-nws,
.folder-dia, 
.folder-log,
.folder-egl {
  float: left;
  clear: both;
  position: absolute;
  -webkit-transform: rotate(9deg) scale(1);  /* Chrome, Safari 3.1+ */
     -moz-transform: rotate(9deg) scale(1);  /* Firefox 3.5-15 */
      -ms-transform: rotate(9deg) scale(1);  /* IE 9 */
       -o-transform: rotate(9deg) scale(1);  /* Opera 10.50-12.00 */
          transform: rotate(9deg) scale(1);  /* Firefox 16+, IE 10+, Opera 12.50+ */

}

.folder-abt {
  /* top: -1270px;*/
  left: -265px;
  top: -20px;
  width: 398px;
   img {
     width: 410px;
   }
   h3 {
    position: relative;
    top: -434px;
    left: 187px;
    width: 100%;
    display: block;
    -webkit-transform: rotate(-90deg);  /* Chrome, Safari 3.1+ */
       -moz-transform: rotate(-90deg);  /* Firefox 3.5-15 */
        -ms-transform: rotate(-90deg);  /* IE 9 */
         -o-transform: rotate(-90deg);  /* Opera 10.50-12.00 */
            transform: rotate(-90deg);  /* Firefox 16+, IE 10+, Opera 12.50+ */
   }
     h4 {
      position: relative;
      top: -446px;
      left: 172px;
      width: 100%;
      display: block;
      -webkit-transform: rotate(-90deg);  /* Chrome, Safari 3.1+ */
         -moz-transform: rotate(-90deg);  /* Firefox 3.5-15 */
          -ms-transform: rotate(-90deg);  /* IE 9 */
           -o-transform: rotate(-90deg);  /* Opera 10.50-12.00 */
              transform: rotate(-90deg);  /* Firefox 16+, IE 10+, Opera 12.50+ */
     }
       &:hover {
        /*I removed this transform on each folder:hover and went with just a left animation on the folder because this :hover rotate was causeing the scale transform to not work when mouse was hovered*/
/*         -webkit-transform: rotate(10deg);
            -moz-transform: rotate(10deg);
             -ms-transform: rotate(10deg);
              -o-transform: rotate(10deg);
                 transform: rotate(10deg);*/
                 left: -241px;
       }
}

.folder-drs {
  /* top: -1270px;*/
  left: -192px;
  top: -18px;
  width: 384px;
   img {
     width: 396px;
   }
   h3 {
    position: relative;
    top: -419px;
    left: 180px;
    width: 100%;
    display: block;
    -webkit-transform: rotate(-90deg);  /* Chrome, Safari 3.1+ */
       -moz-transform: rotate(-90deg);  /* Firefox 3.5-15 */
        -ms-transform: rotate(-90deg);  /* IE 9 */
         -o-transform: rotate(-90deg);  /* Opera 10.50-12.00 */
            transform: rotate(-90deg);  /* Firefox 16+, IE 10+, Opera 12.50+ */
   }
     h4 {
      position: relative;
      top: -293px;
      left: 154px;
      -webkit-transform: rotate(-90deg);  /* Chrome, Safari 3.1+ */
         -moz-transform: rotate(-90deg);  /* Firefox 3.5-15 */
          -ms-transform: rotate(-90deg);  /* IE 9 */
           -o-transform: rotate(-90deg);  /* Opera 10.50-12.00 */
              transform: rotate(-90deg);  /* Firefox 16+, IE 10+, Opera 12.50+ */
     }
       &:hover {
                 left: -172px;
       }
}

.folder-loc {
 /* top: -1270px;*/
 left: -125px;
 top: -14px;
 width: 369px;
  img {
    width: 381px;
  }
  h3 {
   position: relative;
   top: -404px;
   left: 174px;
   width: 100%;
   display: block;
   -webkit-transform: rotate(-90deg);  /* Chrome, Safari 3.1+ */
      -moz-transform: rotate(-90deg);  /* Firefox 3.5-15 */
       -ms-transform: rotate(-90deg);  /* IE 9 */
        -o-transform: rotate(-90deg);  /* Opera 10.50-12.00 */
           transform: rotate(-90deg);  /* Firefox 16+, IE 10+, Opera 12.50+ */
  }
    h4 {
     position: relative;
     top: -287px;
     left: 114px;
     -webkit-transform: rotate(-90deg);  /* Chrome, Safari 3.1+ */
        -moz-transform: rotate(-90deg);  /* Firefox 3.5-15 */
         -ms-transform: rotate(-90deg);  /* IE 9 */
          -o-transform: rotate(-90deg);  /* Opera 10.50-12.00 */
             transform: rotate(-90deg);  /* Firefox 16+, IE 10+, Opera 12.50+ */
    }
      &:hover {
                left: -106px;
      }
}

.folder-nws {
/*  top: -1270px;*/
  left: -60px;
  top: -11px;
  width: 356px;
  img {
    width: 368px;
  }
  h3 {
   position: relative;
   top: -389px;
   left: 168px;
   width: 100%;
   display: block;
   -webkit-transform: rotate(-90deg);  /* Chrome, Safari 3.1+ */
      -moz-transform: rotate(-90deg);  /* Firefox 3.5-15 */
       -ms-transform: rotate(-90deg);  /* IE 9 */
        -o-transform: rotate(-90deg);  /* Opera 10.50-12.00 */
           transform: rotate(-90deg);  /* Firefox 16+, IE 10+, Opera 12.50+ */
  }
    h4 {
     position: relative;
     top: -279px;
     left: 182px;
     -webkit-transform: rotate(-90deg);  /* Chrome, Safari 3.1+ */
        -moz-transform: rotate(-90deg);  /* Firefox 3.5-15 */
         -ms-transform: rotate(-90deg);  /* IE 9 */
          -o-transform: rotate(-90deg);  /* Opera 10.50-12.00 */
             transform: rotate(-90deg);  /* Firefox 16+, IE 10+, Opera 12.50+ */
    }
      &:hover {
                left: -41px;
      }
}

.folder-dia {
/*  top: -810px;*/
  left: 3px;
  top: -10px;
  width: 344px;
  img {
    width: 356px;
  }
  h3 {
   position: relative;
   top: -377px;
   left: 162px;
   width: 100%;
   display: block;
   -webkit-transform: rotate(-90deg);  /* Chrome, Safari 3.1+ */
      -moz-transform: rotate(-90deg);  /* Firefox 3.5-15 */
       -ms-transform: rotate(-90deg);  /* IE 9 */
        -o-transform: rotate(-90deg);  /* Opera 10.50-12.00 */
           transform: rotate(-90deg);  /* Firefox 16+, IE 10+, Opera 12.50+ */
  }
    h4 {
     position: relative;
     top: -272px;
     left: 152px;
     -webkit-transform: rotate(-90deg);  /* Chrome, Safari 3.1+ */
        -moz-transform: rotate(-90deg);  /* Firefox 3.5-15 */
         -ms-transform: rotate(-90deg);  /* IE 9 */
          -o-transform: rotate(-90deg);  /* Opera 10.50-12.00 */
             transform: rotate(-90deg);  /* Firefox 16+, IE 10+, Opera 12.50+ */
    }
      &:hover {
                left: 25px;
      }
}

.folder-log {
 /* top: -374px;*/
  left: 63px;
  top: -9px;
  width: 335px;
  img {
    width: 347px;
  }
  h3 {
   position: relative;
   top: -368px;
   left: 159px;
   width: 100%;
   display: block;
   -webkit-transform: rotate(-90deg);  /* Chrome, Safari 3.1+ */
      -moz-transform: rotate(-90deg);  /* Firefox 3.5-15 */
       -ms-transform: rotate(-90deg);  /* IE 9 */
        -o-transform: rotate(-90deg);  /* Opera 10.50-12.00 */
           transform: rotate(-90deg);  /* Firefox 16+, IE 10+, Opera 12.50+ */
  }
    h4 {
     position: relative;
     top: -265px;
     left: 155px;
     -webkit-transform: rotate(-90deg);  /* Chrome, Safari 3.1+ */
        -moz-transform: rotate(-90deg);  /* Firefox 3.5-15 */
         -ms-transform: rotate(-90deg);  /* IE 9 */
          -o-transform: rotate(-90deg);  /* Opera 10.50-12.00 */
             transform: rotate(-90deg);  /* Firefox 16+, IE 10+, Opera 12.50+ */
    }
      &:hover {
                left: 85px;
      }
}

.folder-egl {
/*  top: 39px;*/
  left: 130px;
  top: -5px;
  width: 319px;
  img {
    width: 331px;
  }
  h3 {
   position: relative;
   top: -351px;
   left: 152px;
   width: 100%;
   display: block;
   -webkit-transform: rotate(-90deg);  /* Chrome, Safari 3.1+ */
      -moz-transform: rotate(-90deg);  /* Firefox 3.5-15 */
       -ms-transform: rotate(-90deg);  /* IE 9 */
        -o-transform: rotate(-90deg);  /* Opera 10.50-12.00 */
           transform: rotate(-90deg);  /* Firefox 16+, IE 10+, Opera 12.50+ */
  }
    h4 {
     position: relative;
     top: -250px;
     left: 134px;
     -webkit-transform: rotate(-90deg);  /* Chrome, Safari 3.1+ */
        -moz-transform: rotate(-90deg);  /* Firefox 3.5-15 */
         -ms-transform: rotate(-90deg);  /* IE 9 */
          -o-transform: rotate(-90deg);  /* Opera 10.50-12.00 */
             transform: rotate(-90deg);  /* Firefox 16+, IE 10+, Opera 12.50+ */
    }
      &:hover {
                left: 152px;
      }
}

#frames {
  position: relative;
  z-index: -1;
  float: left;
  width: 42%;
  padding-left: 45px;
}

.welcome-frame {
  background: url(../img/welcome-frame.png) no-repeat;
  width: 384px;
  height: 559px;
  margin: 6px 0 30px 0;
}

.bg-logo {
  position: relative;
  top: -338px;
  background: url(../img/bg-logo.png) no-repeat;
  width: 323px;
  height: 195px;
  margin: auto;
}

.logo {
  position: relative;
  top: 40px;
  background: url(../img/logo.png) no-repeat;
  width: 323px;
  height: 36px;
  margin: 0 auto 60px;
}

.screen-reader {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

input[type="search"] {
  border: 1px solid #F4E8CC;
  margin: 10px 0px 8px 43px;
  width: 56%;
  border-radius: 0;
  -webkit-box-shadow: inset 2px 2px 1px 0px rgba(3, 3, 3, .4);
    box-shadow: inset 2px 2px 1px 0px rgba(3, 3, 3, .4);
  padding: 6px 0 6px 6px;
  outline: 0;
  word-break: normal;
  -webkit-appearance: none;
}

input[type="search"]:focus {
  border: 1px solid rgba(59, 107, 186, 0.8);
  outline: 0;
  /* IE6-9 */
  outline: thin dotted \9;
}

input[type="submit"] {
  color: $blue;
  padding: 4px 17px;
  border-radius: 11px;
  @include font-stack-files;
  font-size: 13px;
  background: white;
  border: 1px solid #4473BE;
  background: rgb(244,247,249); /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSI3OCUiIHN0b3AtY29sb3I9IiNmNGY3ZjkiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjY2FjZGNmIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
  background: -moz-linear-gradient(top,  rgba(244,247,249,1) 78%, rgba(202,205,207,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(78%,rgba(244,247,249,1)), color-stop(100%,rgba(202,205,207,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(244,247,249,1) 78%,rgba(202,205,207,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(244,247,249,1) 78%,rgba(202,205,207,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(244,247,249,1) 78%,rgba(202,205,207,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(244,247,249,1) 78%,rgba(202,205,207,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f7f9', endColorstr='#cacdcf',GradientType=0 ); /* IE6-8 */
}

.arrow {
  position: relative;
  background: url(../img/arrow.png) no-repeat;
  left: 25px;
  width: 331px;
  height: 53px;
}

.alert-frame {
  position: relative;
  background: url(../img/alert-frame.png) no-repeat;
  width: 384px;
  height: 116px;
  margin-bottom: 20px;
    a {
      text-decoration: none;
    }
}


/*CSS3 Scale aka Folder Zoom*/

.zoom {
-webkit-transition: all 2s ease;  /* Chrome, Safari 3.2+ */
   -moz-transition: all 2s ease;  /* Firefox 4-15 */
     -o-transition: all 2s ease;  /* Opera 10.50–12.00 */
        transition: all 2s ease;  /* Firefox 16+, IE 10+, Opera 12.50+ */

-webkit-transform: scale(3); 
   -moz-transform: scale(3); 
    -ms-transform: scale(3); 
     -o-transform: scale(3); 
        transform: scale(3);
z-index: 20;
}
