/* CSS for ie7 & 8*/

article, aside, figure, footer, header, hgroup, nav, section {
  display: block;
}

#file-cabinet {
  width: 533px;
  h4 {
    font-weight: normal;
  }
}

.folder-group {
  position: relative;
  float: left;
  clear: both;
  left: -40px;
  top: -400px;
  width: 550px;
  height: 590px;

/*  read basecamp comment - https://basecamp.com/2076355/projects/1963636-eagle-physicians/todos/31769224-overflow-visible*/
/*  z-index: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=0.64278761, M12=-0.76604444, M21=0.76604444, M22=0.64278761,sizingMethod='auto expand')";
  filter: progid:DXImageTransform.Microsoft.Matrix(M11=0.99939083, M12=-0.03489950, M21=0.03489950, M22=0.99939083,sizingMethod='auto expand');
  -moz-transform:  matrix(0.99939083, 0.03489950, -0.03489950, 0.99939083, 0, 0);
  -webkit-transform:  matrix(0.99939083, 0.03489950, -0.03489950, 0.99939083, 0, 0);
  -o-transform:  matrix(0.99939083, 0.03489950, -0.03489950, 0.99939083, 0, 0);*/
  zoom: 1;
}

.folder-abt,
.folder-drs, 
.folder-loc,
.folder-nws,
.folder-dia, 
.folder-log,
.folder-egl {
  z-index: 1;
  -ms-filter: 'progid:DXImageTransform.Microsoft.MotionBlur(strength=50), progid:DXImageTransform.Microsoft.BasicImage(mirror=1)';
  filter: progid:DXImageTransform.Microsoft.Matrix(M11=0.98768834, M12=-0.15643447, M21=0.15643447, M22=0.98768834,sizingMethod='auto expand');
  -moz-transform:  matrix(0.98768834, 0.15643447, -0.15643447, 0.98768834, 0, 0);
  -webkit-transform:  matrix(0.98768834, 0.15643447, -0.15643447, 0.98768834, 0, 0);
  -o-transform:  matrix(0.98768834, 0.15643447, -0.15643447, 0.98768834, 0, 0);
}

.folder-abt {
  width: 410px;
}

.folder-drs {
  width: 396px;
}

.folder-loc {
  width: 381px;
}

.folder-nws {
  width: 368px;
}

.folder-dia {
  width: 356px;
}

.folder-log  {
  width: 347px;
}

.folder-egl {
  width: 331px;
}

/*this fixes image transparency bug in ie7 & ie8 - when using matrix filter*/ 
.folder-group img {
  background: transparent;
  filter:
  progid:DXImageTransform.Microsoft.AlphaImageLoader(src=ie8-logo.png,sizingMethod='crop');
}

.folder-abt h3, .folder-abt h4,
.folder-drs h3, .folder-drs h4, 
.folder-loc h3, .folder-loc h4,
.folder-nws h3, .folder-nws h4,
.folder-dia h3, .folder-dia h4, 
.folder-log h3, .folder-log h4,
.folder-egl h3, .folder-egl h4 {
  -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=0.00000000, M12=1.00000000, M21=-1.00000000, M22=0.00000000,sizingMethod='auto expand')";
  filter: progid:DXImageTransform.Microsoft.Matrix(M11=0.00000000, M12=1.00000000, M21=-1.00000000, M22=0.00000000,sizingMethod='auto expand');
  -moz-transform:  matrix(0.00000000, -1.00000000, 1.00000000, 0.00000000, 0, 0);
  -webkit-transform:  matrix(0.00000000, -1.00000000, 1.00000000, 0.00000000, 0, 0);
  -o-transform:  matrix(0.00000000, -1.00000000, 1.00000000, 0.00000000, 0, 0);
}

.folder-abt {
  h3 {
    position: relative;
    top: -640px;
    left: 380px;
    *top: -642px;
    *left: 379px;
}
  h4 {
    position: relative;
    top: -388px;
    left: 212px;
    width: 161px;
    *top: -390px;
    *left: 351px;
    *width: 161px;
  }
}

.folder-drs {
  h3 {
    position: relative;
    top: -618px;
    left: 366px;
    *top: -620px;
    *left: 365px;
}
  h4 {
    position: relative;
    top: -372px;
    left: 222px;
    width: 154px;
    *top: -376px;
    *left: 339px;
    *width: 155px;
  }
}

.folder-loc {
  h3 {
   position: relative;
   top: -595px;
   left: 353px;
   *top: -596px;
   *left: 351px;
}
  h4 {
    position: relative;
    top: -358px;
    left: 181px;
    width: 148px;
    *top: -362px;
    *left: 326px;
    *width: 149px;
  }
}

.folder-nws {
  h3 {
   position: relative;
   top: -575px;
   left: 341px;
   *top: -575px;
   *left: 340px;
}
  h4 {
    position: relative;
    top: -351px;
    left: 251px;
    width: 146px;
    *top: -354px;
    *left: 313px;
    *width: 149px;
  }
}

.folder-dia {
  h3 {
   position: relative;
   top: -556px;
   left: 329px;
   *top: -557px;
   *left: 328px;
}
  h4 {
    position: relative;
    top: -338px;
    left: 220px;
    width: 140px;
    *top: -340px;
    *left: 303px;
    *width: 140px;
  }
}

.folder-log  {
  h3 {
   position: relative;
   top: -542px;
   left: 321px;
   *top: -542px;
   *left: 320px;
}
  h4 {
    position: relative;
    top: -331px;
    left: 221px;
    *top: -334px;
    *left: 295px;
    width: 138px;
  }
}

.folder-egl {
  h3 {
   position: relative;
   top: -518px;
   left: 306px;
   *top: -518px;
   *left: 305px;
}
  h4 {
    position: relative;
    top: -324px; /*-324px*/
    left: 197px;
    *top: -324px;
    *left: 280px;
    width: 138px
  }
}

#frames {
  width: 41%;
  padding-left: 33px;
}

/*search box - with ie7 target*/
.search {
  *margin: 10px 0px 8px 43px;
}

.search-field {
  width: 60%;
  padding: 5px 0 6px 6px;
}

input[type="submit"] {
  padding: 4px 4px;
  margin-left: 8px;
  border: 1px solid #4473BE;
  background: rgb(244,247,249); /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f7f9', endColorstr='#cacdcf',GradientType=0 ); /* IE6-8 */
}

.zoom {
  z-index: 20;

  /* IE8+ - must be on one line, unfortunately */ 
  -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=3, M12=0, M21=0, M22=3, SizingMethod='auto expand')";

  /* IE6 and 7 */ 
  filter: progid:DXImageTransform.Microsoft.Matrix(
          M11=4,
          M12=0,
          M21=0,
          M22=4,
          SizingMethod='auto expand');

  margin-left: -315px; 
  margin-top: -400px;
}
