---
layout: default
---

<div class="wrapper">
  <!-- <img src="img/bg.jpg"> -->
  <section id="file-cabinet">
    <div class="left-folder">
      <img src="img/left-folder2.png">
    </div>
        <div class="folder-group">
            <div class="folder-egl"> 
              <a href="http://www.eaglemds.com/careers"><img src="img/folder-egl.png" alt="Eagle Careers">
                <audio id="folder-out" preload="auto">
                  <source src="audio/folder_out.mp3">
                  <source src="audio/folder_out.ogg">
                </audio><!-- end folder-out audio -->

                <audio id="folder-in" preload="auto">
                  <source src="audio/folder_in.mp3">
                  <source src="audio/folder_in.ogg">
                </audio><!-- end folder-in audio -->

                <h3><span>EAGLE CAREERS</span></h3>
                <!-- <h4>Acct # JOBS20 <span class="egl-chart">Chart #</span></h4> -->
              </a>
            </div>
            <div class="folder-log">
              <a href="http://www.eaglemds.com/stay-healthy"><img src="img/folder-log.png" alt="Stay Healthy">
                <h3><span>STAY HEALTHY</span></h3>
                <!-- <h4>Acct # ADLOG20 <span class="log-chart">Chart #</span></h4> -->
              </a>
            </div>
            <div class="folder-dia">
              <a href="http://www.eaglemds.com/self-diagnosis"><img src="img/folder-dia.png" alt="Self Diagnosis">
                <h3><span>SELF DIAGNOSIS</span></h3>
                <!-- <h4>Acct # SELFDIA20 <span class="dia-chart">Chart #</span></h4> -->
              </a>
            </div>
            <div class="folder-nws">
              <a href="http://www.eaglemds.com/eagle-news"><img src="img/folder-nws.png" alt="Eagle News">
                <h3><span>EAGLE NEWS</span></h3>
                <!-- <h4>Acct # EAGNWS20 <span class="nws-chart">Chart #</span></h4> -->
              </a>
            </div>
            <div class="folder-loc">
              <a href="http://www.eaglemds.com/specialties-and-locations"><img src="img/folder-loc.png" alt="Specialties & Locations">
                <h3><span>SPECIALTIES & LOCATIONS</span></h3>
                <!-- <h4>Acct # SPELOC20 <span class="loc-chart">Chart #</span></h4> -->
              </a>
            </div>
            <div class="folder-drs">
              <a href="http://www.eaglemds.com/physicians"><img src="img/folder-drs.png" alt="Provider Directory">
                <h3><span>PROVIDER DIRECTORY</span></h3>
                <!-- <h4>Acct # PRODIR20 <span class="drs-chart">Chart #</span></h4> -->
              </a>
            </div>
            <div class="folder-abt">
              <a href="http://www.eaglemds.com/about"><img src="img/folder-abt.png" alt="About Eagle Physicians">
                <h3><span>ABOUT EAGLE PHYSICIANS</span></h3>
                <!-- <h4>Acct # ABTEGL20 <span class="abt-chart">Chart #</span></h4> -->
              </a>
            </div>
        </div>
  </section>

  <aside id="frames">
    <div class="welcome-frame">
      <div class="logo"></div>
      <h1>WELCOME!</h1>
      <p>Insert Copy Here</p>
      <figure class="quote">
           <blockquote>“Eagle is about neighbors taking care of neighbors.” Stay Healthy,™</blockquote>
           <figcaption>Vicki Gregory, <cite>CEO</cite></figcaption>
      </figure>
      <div class="search">
        <label for="q" id="search-label" class="screen-reader">Search</label>
        <input aria-labelledby="search-label" id="q" type="search" name="q" class="search-field" value="">
        <input type="submit" value="Search" class="button search-button gradient">
      </div>
      <div class="arrow">
      </div>
      {% include portal-nav.html %}
      <div class="bg-logo"></div>
    </div>
      <div class="alert-frame">
    <a class="blue" href="/about/medicare.html">
        <h3>Confused About Medicare?</h3>
        <p>Insert Copy Here</p>
    </a>
      </div>
  </aside>

{% include footer.html %}

<div class="browse-happy">
  <p>This site runs best on a modern browser, <a href="http://browsehappy.com">click here</a> to update yours.</p>
</div>

</div> <!-- end wrapper -->

