---
layout: default
---

<div class="wrapper">
  <!-- <img src="img/bg.jpg"> -->
  <section id="file-cabinet">
    <div class="left-folder">
      <img src="img/left-folder2.png">
    </div>
    <div class="folder-group">
      <div class="folder-egl">
        <a href=""><img src="img/folder-egl.png" alt="Eagle Careers"></a>
        <h3>EAGLE CAREERS</h3>
      </div>
      <div class="folder-log">
        <a href=""><img src="img/folder-log.png" alt="Stay Healthy"></a>
        <h3>STAY HEALTHY</h3>
      </div>
      <div class="folder-dia">
        <a href=""><img src="img/folder-dia.png" alt="Self Diagnosis"></a>
        <h3>SELF DIAGNOSIS</h3>
      </div>
      <div class="folder-nws">
        <a href=""><img src="img/folder-nws.png" alt="Eagle News"></a>
        <h3>EAGLE NEWS</h3>
      </div>
      <div class="folder-loc">
        <a href=""><img src="img/folder-loc.png" alt="Specialties & Locations"></a>
        <h3>SPECIALTIES & LOCATIONS</h3>
      </div>
      <div class="folder-drs">
        <a href=""><img src="img/folder-drs.png" alt="Provider Directory"></a>
        <h3>PROVIDER DIRECTORY</h3>
      </div>
      <div class="folder-abt">
        <a href=""><img src="img/folder-abt.png" alt="About Eagle Physicians"></a>
        <h3>ABOUT EAGLE PHYSICIANS</h3>
      </div>
    </div>
  </section>

  <aside id="frames">
    <div class="welcome-frame">
      <div class="logo"></div>
      <h1>WELCOME!</h1>
      <p>Hello and welcome to Eagle Physicians’ online office space. Please take a peek through our files and look around our office. Take note that our old website log-in is no longer active so click “Need Help?” below to request a new log-in. Otherwise, click “Patient Portal” to access your patient page. It is our top priority that you continue to Stay Healthy.™</p>
      <figure class="quote">
           <blockquote>“Eagle is about neighbors taking care of neighbors.” Stay Healthy,™</blockquote>
           <figcaption>Vicki Gregory, <cite>CEO</cite></figcaption>
      </figure>
      <div class="arrow">
        <h2>PATIENT PORTAL</h2>
        {% include portal-nav.html %}
      </div>
      <div class="bg-logo"></div>
    </div>
<!--     <div class="alert-frame">
      <h3>Confused About Medicare?</h3>
      <p>Click on <a class="blue" href="/about/medicare.html">"Medicare Advice"</a> in blue at the bottom of this page for information.</p>
    </div> -->
  </aside>

{% include footer.html %}

</div> <!-- end wrapper -->

