<nav role="footer-navigation">
  <ul>
    <li><a href="/about">About</a></li>
    <li><a href="/physicians">Physicians</a></li>
    <li><a href="/specialties-and-locations">Specialties &amp; Locations</a></li>
    <li><a href="/eagle-news">News</a></li>
    <li><a href="/self-diagnosis">Self Diagnosis</a></li>
    <li><a href="/careers">Careers</a></li>
    <li><a href="/stay-healthy">Stay Healthy</a></li>
    <li><a href="/about/faqs/does-moses-cone-own-eagle.html">FAQs</a></li>
    <li><a href="/about/payment-policies">Payment Policies</a></li>
    <li><a href="/about/links.html">Links</a></li>
    <li><a href="/about/confidentiality.html">Confidentiality</a></li>
    <li><a href="https://mycw3.eclinicalweb.com/ephy/jsp/login.jsp">Patient Portal</a></li>
    <li><a href="/cgi-bin/billPay.pl">Bill Pay</a></li>
    <li><a href="/about/contact.html">Contact Us</a></li>
    <li><a href="https://webaccess.eaglemds.com/vpn/index.html">Staff Login</a></li>
    <li><a class="blue" href="/about/medicare.html">Medicare Advice</a></li>
  </ul>

  <div class="browse-happy">
    <p>This site is best viewed in a modern browser. Please <a href="http://browsehappy.com">Browse Happy</a> :)</p>
  </div>

</nav> 
